.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family: Arial, sans-serif;
}

.video-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.controls > div {
  display: flex;
  gap: 10px;
}

input[type='file'] {
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

input[type='file']:hover {
  background-color: #45a049;
}

button {
  padding: 5px 10px;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #0b7dda;
}

input[type='checkbox'] {
  margin-right: 5px;
}

select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
}

